<%- include('partials/_header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src = "/scripts/password_generator.js" type = 'text/javascript'></script>
  <title>Edit</title>
</head>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
  <div class="card card-body">
  <h1 class="text-center mb-3"><i class="fa fa-key" aria-hidden="true"></i> Edit Your Password
  </h1>
<body>

  <div class = 'container'></div>

    <form method="POST" action="/password/<%= id %>">
    <div>
      <label for="name">Name</label>
      <input type="text" id = 'name' name="name" value = '<%= name %>'>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" name = 'email' value = '<%= organizations_email %>'  >
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name = 'password' value = '<%= organizations_password %>'>
    </div>
    <div>
      <label for= 'catergory'> Category </label>
      <input type="text" id="password" name = 'category' value = '<%=category %>' >
    </div>
      <button type="edit" name="edit" class="btn btn-outline-success">Submit</button>
    </form>

</body>

</html>
